/*
Name: Brock Berube
css file for final porject
*/

h1{
  font-size: 72pt;
  float: left;
}
#welcomeText{
  margin-left: 10px;
  float: left;
  padding-top: 10%;
}

#welcomeBlock{
  clear: right;
  float: left;
  clear: both;
  min-width: 90%;
}


#block1{
  margin-left: 60px;
  float: left;
  width: 50%;
  overflow: auto;
}

#block2{
  float: right;
  background-color: #609dff;
  width:20%;
  padding: 20px;
  margin-right: 60px;
  border-color: #ffcc60;
  text-align: center;
}

#block3{
  background-color: green;
}

#userNameBlock{
  font-size: 20pt;
  font-weight: bold;
  float: left;
  background-color: #609dff;
  padding: 20px;
  width: 90%;
}

#passwordBlock{
  font-size: 20pt;
  font-weight: bold;
  float: left;
  background-color: #609dff;
  padding: 20px;
  width: 90%;
}

#signUpBox {
  padding: 20px;
}

body{
  font-family: Helvetica ,Arial , sans-serif;
  font-size: 18pt;
  background-color: #ffcc60;
}

#allMusic {
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background: #e6bbad;
  float: left;
  width: 45%;
  padding: 10px;
}

#yourMusic {
  float: right;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #e6bbad;
  width: 45%
}

#topBar {
  padding: 10px;
  padding-left: 40px;
  width: 110%;
  margin-left: -40px;
  margin-bottom: 20px;
  margin-top: -10px;
  border-radius: 20px;
  background: black;
}

#topBar {
  clear: both;
}

#main {
  overflow: hidden;
}
#tempBlock{
  float: right;
}
#allSongs div{

  background-color: #609dff;
  border-color: black;
  border-radius: 5px;

}
button {
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.top {
  float: right;
  color: white;
  padding-right: 3%;
}

#search {
  padding-right: 10%;
}
